<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <script src="${require('../../js/vue/vue-dev-min.js')}"></script>
</head>
<body>
    <!--引用相对路径的方法-->
    <!-- <img src="${require('../../assets/img_mendian.png')}"> -->
    <div id='app'>
        <div>{{message}}</div>
        <c-cart></c-cart>
    </div>
</body>
</html>